<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://guiaderodas.com/wp-content/uploads/2018/05/cinema.jpg);">
  <div class="container">
    <h1>Create Lists</h1>
    <p>Save to watch later</p>
  </div>
</div>

<div class="row" id="below_banner">
  <h1>My Lists</h1>
  <a class="btn btn-flat" href="lists/new">Create List</a>
</div>

<div class="row">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, crop: :fill %>)">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
